@import '../../../assets/css/variables.scss';

.modal {
    position: fixed;
    display: block;
    background-color: #fff;
    width: 50%;
    height: 100vh;
    right: 100px;
    transition: left 0.4s 0s ease-in;
    &.open {
        width: 100%;
        left: 0;
        transition: left 0.4s 0s ease-in;
    }

    @include forTableScreens() {
        width: 40%;
        left: 100%;
        transition: left 0.4s 0s ease-in;

        &.open {
            width: 40%;
            left: 60%;
            transition: left 0.4s 0s ease-in;
        }
    }
}