$primary: #efefd0;
$backgroundDark : #000000;
$accent: #efefd0;
$text_titles: #000000;
$text_body: #9a9ca7;
$text_thin: #d2d2d2;
$background: #0a0908;
$green: #4bf884;
$color_focus: #262534;

//functions
@mixin forLargeScreens() {
    @media (min-width: 981px) { @content; }
}

@mixin forTableScreens() {
    @media (min-width: 767px) { @content; }
}
  